USE [QLStoreSach]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 1/1/2022 9:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaSach] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 1/1/2022 9:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaKhachHang] [nvarchar](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TongTien] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/1/2022 9:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](11) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 1/1/2022 9:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaSach] [nvarchar](10) NOT NULL,
	[NhaCungCap] [nvarchar](50) NOT NULL,
	[GiaGoc] [int] NOT NULL,
	[Soluong] [int] NULL,
	[NgayNhapKho] [date] NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh]    Script Date: 1/1/2022 9:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh](
	[MaQuyDinh] [int] IDENTITY(1,1) NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[SoLuongSachTonToiThieuDeNhap] [int] NOT NULL,
	[SoLuongSachNhapToiThieu] [int] NOT NULL,
	[TienNoToiDa] [int] NOT NULL,
	[SoLuongSachTonToiThieuSauKhiBan] [int] NOT NULL,
	[DuocThuVuotSoTienKhachHangDangNo] [bit] NOT NULL,
 CONSTRAINT [PK_QuyDinh] PRIMARY KEY CLUSTERED 
(
	[MaQuyDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 1/1/2022 9:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [nvarchar](10) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[UrlImage] [varchar](max) NULL,
	[UrlImageSau] [varchar](max) NULL,
	[TacGia] [nvarchar](255) NOT NULL,
	[TheLoai] [nvarchar](255) NULL,
	[NamXB] [int] NOT NULL,
	[NXB] [nvarchar](255) NOT NULL,
	[GiaBan] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NhanXet_1] [nvarchar](max) NULL,
	[NhanXet_2] [nvarchar](max) NULL,
	[NhanXet_3] [nvarchar](max) NULL,
	[NhanXet_4] [nvarchar](max) NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 1/1/2022 9:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](40) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSach], [SoLuong], [DonGia]) VALUES (N'HD3435', N'MS005', 1, 150000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSach], [SoLuong], [DonGia]) VALUES (N'HD3435', N'MS015', 1, 36000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSach], [SoLuong], [DonGia]) VALUES (N'HD3435', N'MS030', 2, 20000)
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [NgayLap], [TongTien]) VALUES (N'HD3435', N'KH002', CAST(N'2021-12-27' AS Date), 226000)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [NgayLap], [TongTien]) VALUES (N'HD7227', N'KH001', CAST(N'2021-12-26' AS Date), 30060000)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [NgayLap], [TongTien]) VALUES (N'HD7761', N'KH002', CAST(N'2021-12-26' AS Date), 28800000)
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [DiaChi], [DienThoai], [Email]) VALUES (N'KH001', N'Mạc Đỉnh Thy', N'New York11', N'0987987123', N'mdthy18@gmail.com')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [DiaChi], [DienThoai], [Email]) VALUES (N'KH002', N'Thanh Truong', N'192 Lê Trọng Tấn, Tân Phú', N'0974482653', N'ttruong04@gmail.com')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [DiaChi], [DienThoai], [Email]) VALUES (N'KH003', N'Tuong Vy', N'1002 Quang Trung, Gò Vấp', N'0987253233', N'tuongzy02@gmail.com')
GO
INSERT [dbo].[Kho] ([MaSach], [NhaCungCap], [GiaGoc], [Soluong], [NgayNhapKho]) VALUES (N'MS001', N'Công Ty Cổ Phần Phát Hành Sách Tp. HCM', 45000, 200, CAST(N'2021-12-27' AS Date))
INSERT [dbo].[Kho] ([MaSach], [NhaCungCap], [GiaGoc], [Soluong], [NgayNhapKho]) VALUES (N'MS002', N'Nhà cung cấp sách FAHASA', 53000, 100, CAST(N'2021-12-12' AS Date))
INSERT [dbo].[Kho] ([MaSach], [NhaCungCap], [GiaGoc], [Soluong], [NgayNhapKho]) VALUES (N'MS003', N'Công Ty Cổ Phần Phát Hành Sách Tp. HCM', 52000, 500, CAST(N'2021-12-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[QuyDinh] ON 

INSERT [dbo].[QuyDinh] ([MaQuyDinh], [NgayCapNhat], [SoLuongSachTonToiThieuDeNhap], [SoLuongSachNhapToiThieu], [TienNoToiDa], [SoLuongSachTonToiThieuSauKhiBan], [DuocThuVuotSoTienKhachHangDangNo]) VALUES (1, CAST(N'2020-12-15T00:00:00.000' AS DateTime), 300, 150, 20000, 20, 1)
SET IDENTITY_INSERT [dbo].[QuyDinh] OFF
GO
INSERT [dbo].[TaiKhoan] ([Username], [Password], [Email], [HoTen]) VALUES (N'1', N'1', N'1@admin.com', N'1')
INSERT [dbo].[TaiKhoan] ([Username], [Password], [Email], [HoTen]) VALUES (N'thyyy', N'thy', N'mdthy@gmail.com', N'Mac Dinh Thy')
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_ChiTietHoaDon_SoLuong]  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [DF_ChiTietHoaDon_DonGia]  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF_HoaDon_TongTien]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_HoTen]  DEFAULT (N'<Tên khách hàng>') FOR [HoTen]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [DF_KhachHang_DiaChi]  DEFAULT (N'<Địa chỉ>') FOR [DiaChi]
GO
ALTER TABLE [dbo].[QuyDinh] ADD  CONSTRAINT [DF_QuyDinh_SoLuongSachTonToiThieuDeNhap]  DEFAULT ((0)) FOR [SoLuongSachTonToiThieuDeNhap]
GO
ALTER TABLE [dbo].[QuyDinh] ADD  CONSTRAINT [DF_QuyDinh_TienNoToiDa]  DEFAULT ((0)) FOR [TienNoToiDa]
GO
ALTER TABLE [dbo].[QuyDinh] ADD  CONSTRAINT [DF_QuyDinh_SoLuongSachTonToiThieuSauKhiBan]  DEFAULT ((0)) FOR [SoLuongSachTonToiThieuSauKhiBan]
GO
ALTER TABLE [dbo].[QuyDinh] ADD  CONSTRAINT [DF_QuyDinh_DuocThuVuotSoTienKhachHangDangNo]  DEFAULT ((1)) FOR [DuocThuVuotSoTienKhachHangDangNo]
GO
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_SACH_TenSach]  DEFAULT (N'<Tên sách>') FOR [TenSach]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Sach]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [FK_Kho_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_Sach]
GO
